* {
	box-sizing: border-box;
}

body {
	margin: 0px;
}

.emailForm {
	background: rgb(197, 219, 191);
	text-align: center;
	padding: 2em 0px;
}

.emailForm input {
	display: block;
	margin-left: auto;
	margin-right: auto;
	font-family: sans-serif;
	margin-bottom: 1em;
	border-radius: 0.5em;
	font-size: 0.9rem;
}

.emailForm input[type="email"] {
	background-color: rgba(0, 0, 0, 0.05);
	outline: none;
	border: 1px solid rgba(0, 0, 0, 0.1);
	font-weight: bold;
	padding: 0.7em 1.4em;
	color: rgba(0, 0, 0, 0.7);
	width: 20rem;
}
.emailForm input[type="email"]:focus {
	border-color: rgb(86, 182, 60);
}

.emailForm input[type="email"]::placeholder {
	color: rgba(0, 0, 0, 0.4);
}

.emailForm input[type="submit"] {
	background: rgb(86, 182, 60);
	border: none;
	color: rgba(255, 255, 255, 0.8);
	padding: 0.9em 1.4em;
	width: 15rem;
	transition: all 0.2s ease-out;
}
.emailForm input[type="submit"]:hover {
	width: 20rem;
	cursor: pointer;
}
.emailForm input[type="submit"]:focus {
	background: rgb(64, 136, 44);
}

.emailForm .error {
	text-align: left;
	margin: 0px auto;
	width: 20rem;
	color: red;
	background: rgba(255, 0, 0, 0.2);
	border-radius: 0.5em;
	padding: 0.6em 1.4em;
	margin-bottom: 1em;
	font-size: 0.9em;
}
